p {
  margin: 0;
}

button {
  padding: 8px;
  border-radius: 8px;
  background-color: #00000011;
  border-width: 0;
}

.mediumButton {
  padding: 12px;
  font-size: 14px;
}

button:hover {
  background-color: #00000022;
}

select {
  padding: 4px;
  border-radius: 8px;
  background-color: #00000011;
  border-width: 0;
}

select:hover {
  background-color: #00000022;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #00000011;
  border-width: 0px;
}

.subscriptionListElement {
  padding: 16px;
  background-color: #00000011;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 16px;
}

.subscriptionListElement:hover {
  background-color: #00000022;
}

.shortcutFormContainer {
  width: 480px;
  margin-bottom: 8px;
}

.shortcutFormContainer p {
  padding-top: 8px;
  padding-bottom: 4px;
}
