@font-face {
  font-family: "OxygenMono";
  src: local("OxygenMono"),
    url(./OxygenMono-Regular.ttf)
      format("truetype");
}

p,
a,
button,
input,
select {
  font-family: OxygenMono;
  color: black;
  font-size: 16px;
  margin: 0;
}

input {
  padding: 4px;
  border: none;
  border-bottom: 1px solid black;
}

a {
  text-decoration: underline;
}

button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: "white";
  background: none;
  border: 1px solid black;
}

button:hover:not(:disabled) {
  color: white;
  border-color: white;
  background-color: black;
}

.underline {
  text-decoration: underline;
}

.title1Font {
  font-size: 22px;
  padding: 16px;
}

.title2Font {
  font-size: 20px;
}

.contentFont {
  font-size: 16px;
}

.minor1Font {
  font-size: 12px;
}

.minor2Font {
  font-size: 10px;
}

.rootContainer {
  height: 84vh;
  padding-left: 32px;
  padding-right: 32px;
}

.centralizingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cardContainer {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 400px;

  /* Border lol :) */
  background: linear-gradient(
        to right,
        black 1px,
        transparent 1px
      )
      0 0,
    linear-gradient(
        to right,
        black 1px,
        transparent 1px
      )
      0 100%,
    linear-gradient(
        to left,
        black 1px,
        transparent 1px
      )
      100% 0,
    linear-gradient(
        to left,
        black 1px,
        transparent 1px
      )
      100% 100%,
    linear-gradient(
        to bottom,
        black 1px,
        transparent 1px
      )
      0 0,
    linear-gradient(
        to bottom,
        black 1px,
        transparent 1px
      )
      100% 0,
    linear-gradient(
        to top,
        black 1px,
        transparent 1px
      )
      0 100%,
    linear-gradient(
        to top,
        black 1px,
        transparent 1px
      )
      100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-evenly;
}

.centralText {
  text-align: center;
  width: 100%;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mediumSpacing {
  gap: 32px;
}

.subscriptionLine {
  width: 100%;
  display: flex;
}

.lineFiller {
  display: inline-block;
  flex-grow: 1;
  border-bottom: 2px dotted black;
  margin-bottom: 4px;
}

.scrollingCard {
  max-height: 500px;
  overflow-y: scroll;
}

.heightFiller {
  height: 32px;
}

.manageListElement {
  padding: 16px;
}

.manageListElement:hover {
  padding: 15px;
  border: 1px solid black;
}

.footer {
  position: fixed;
  bottom: 16px;

  /* And if you want the div to be full-width: */
  left: 0;
  right: 0;
}

.featureHighlight {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.promptFormContainer input {
  width: 300px;
}

.promptFormContainer {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
